[2016-02-11 04:00] bchretien opened #50 "Integration in bloom"
Now that the whole system is fairly stable and has been working well for years, we can consider integrating the work that was done here inside [bloom](http://wiki.ros.org/bloom), the ROS release automation tool, and try to establish a repository with binary packages as is done for Debian (and probably Fedora). The first task would be to list the requirements for this endeavor. Because of the rolli

[2016-02-11 08:40] bchretien commented on #50
Comment from @dirk-thomas on the ROS answers discussion:

Arch repositories are fairly simple to set up (see the [Arch wiki](https://wiki.archlinux.org/index.php/Pacman/Tips_and_tricks#Custom_local_repository)), everything appears to be done with the `repo-add` script (provided by `pacman`), so the workflow would just be:

- Copy binary tarball to the server,
- Call `repo-add` to register the new

[2016-02-12 02:08] v01d commented on #50
Hi, good thing about bloom. I can try to help there but I'm not very proficient in python.
I will try to look into ros_buildfarm and see if I understand what would be needed there.

Regarding dependencies. At first maybe it would be better to rely on pacaur/yaourt as part of the build process. If this gets going I guess some people may be willing to support the main AUR dependencies .

[2016-02-12 02:25] v01d commented on #50
One question, though. What is relation between what bloom does and ros_buildfarm does? From what i understand, bloom is who creates the so-called release repository and ros_buildfarm reads this to know what to do, right?
So, more or less, the PKGBUILD would be embedded in this release repository and the buildfarm will mostly do the makepkg, right?

[2016-02-12 03:01] bchretien commented on #50
That's right, there are 2 distinct steps:

- creating the package description (`PKGBUILD`/`.SRCINFO`), which could be done by `bloom`,
- providing binary releases of these packages, which could be done by `ros_buildfarm`.

For dependencies, not having binary packages available means the build farm would need to download the source and recompile everything. If something depends on PCL for instance,

[2016-02-12 03:05] dirk-thomas commented on #50
The build farm will take the release repo as input and produce a binary for each package. It will not build any dependencies - they much have been either available from somewhere else or built by the build farm from other release repos. The build farm will make sure to invoke all jobs in the correct topological order as well as will perform rebuild of downstream packages (since we can't assume ABI

[2016-02-15 03:28] tsirif opened #51 "Naming appropriately source tarballs and (git) repos"
Hello there! In the last update to 1.11.11-0 of vision_opencv, opencv-apps, image-geometry, cv-bridge indigo source packages are all being downloaded as `1.11.11-0.tar.gz`, so aur manager cannot differentiate between them and sha256sums are also different. Could you add `"${_dir}.tar.gz":: ` before the url string of source package in PKGBUILDs? (_dir is the var that you define at the line above)

[2016-02-15 04:05] #51 closed

[2016-02-15 04:05] bchretien commented on #51
Thanks, this will be done automatically for future updates.

[2016-03-08 14:26] v01d commented on #50
@bchretien I'm currently setting up a private gitlab server with CI where I have managed to set a job for every push where an ubuntu package is generated and stored in a repository, which allows to handle dependencies when compiling other projects in the server. For this, I'm using bloom-generate and then compiling with fakeroot (think of a poor man's, but simpler, ros_buildfarm).

I was wondering

[2016-03-08 15:12] bchretien commented on #50
@v01d nice, this sounds promising!

The script used here is self-contained and grew over time, so it is a bit messy, and it would just be a temporary solution to validate the approach for you. It could be extended to take a path to a local `package.xml` rather than fetching it automatically. The problem is that the PKGBUILD still requires a remote tarball/repository. Here, we actually rely on bloo

[2016-03-08 15:22] v01d commented on #50
Hi, thanks for the info. If I wanted to modify the scripts to work on a
local package.xml, where should I start?

When you say "bloom's source tarball" you mean the GBP repository, right?
In my case, what is only needed is to replicate bloom-generate's
functionality, which assumes the source is already present in the current
directory. So retrieving the source would not be needed in my case, but
o

[2016-03-08 16:00] bchretien commented on #50
That's correct. Relying on the source tarball from the GBP repository means that people could easily rebuild the packages themselves (i.e. exactly what we currently have on the AUR). If this is not possible or too complicated, a "dirty" PKGBUILD relying on local files could probably work (and in that case we assume that people simply get the Arch binary releases anyway). I guess this is what you c

[2016-03-08 17:36] bchretien commented on #50
You can take a look at my bloom fork [here](https://github.com/bchretien/bloom/tree/topic/pkgbuild-support). I tested it on `catkin`, and you can see the resulting `PKGBUILD` [there](https://gist.github.com/bchretien/37ae45fba68886c3e5ae). There's still work to do, but it's a good start.

[2016-03-09 00:27] v01d commented on #50
Great!
Any pointers of what things would require improvement or should I simply
start testing it with different packages and see what issues come up? I can
fork your fork and send you PRs for any changes.

On Tue, Mar 8, 2016 at 2:36 PM, Benjamin Chrétien <notifications@github.com>
wrote:

[2016-03-09 01:13] bchretien commented on #50
I tested on `catkin` since it does not depend on any ROS package. If it depends on ROS packages, there's a rosdep check that currently fails. Maybe we need to add Arch to the release platforms in rosdistro (see [here](https://github.com/ros/rosdistro/blob/master/indigo/distribution.yaml#L5)).

Also, AFAIK, a PKGBUILD's `changelog` is supposed to reflect changes to the Arch package, not changes to

[2016-03-09 01:20] v01d commented on #50
I'll take a look at the ros dependency handling. I fail to see where is
dependency information actually stored inside the rosdistro repo, though.

I vote for leaving unessential features as the last step. I nice milestone
would be to have all packages in AUR auto generated from bloom, and
compiling OK with the produced PKGBUILDs, even if they're ugly or not
feature-complete.

Maybe you can try reb

[2016-03-09 01:29] bchretien commented on #50
The problem with the in-source approach (PKGBUILD that is supposed to be inside the source directory) is that this is just not AUR-friendly, so the PKGBUILDs generated by my bloom fork are not gonna cut it for now. Since we can add CLI options to `bloom-generate arch`, we can have 2 PKGBUILD templates: one for the in-source deb-style approach (what we have on my fork), and one that relies on the s

[2016-03-09 15:28] bchretien commented on #50
@v01d: To test my bloom fork locally with ROS dependencies, I used [rosdep-generator](https://github.com/mikepurvis/rosdep-generator), modified the generated yaml to add `arch`, and ran `rosdep update`. I guess there's a smarter/easier way to do this, but I couldn't find the information. Still, for `std_msgs`, running `bloom-generate rosarch --ros-distro indigo` gives [this PKGBUILD](https://gist.

[2016-03-09 15:41] dirk-thomas commented on #50
I don't know how it affects `bloom`when a new releases platform is added to the distribution file. Maybe @wjwwood can clarify.

[2016-03-09 19:40] wjwwood commented on #50
Adding an os (platform) to the distribution file does not affect bloom unless you have a generator which asks what the default distros are for that platform/os. See our recent changes to bloom which "add" support for Debian Jessie: https://github.com/ros-infrastructure/bloom/commit/5305e9749e17a2162939c4f29d2400e216fe94cb

In that case we just slightly modified the debian generator to allow for an

[2016-06-22 16:50] lopsided98 opened #56 "Support packages that do not have a release repo"
Some packages do not have a release in repository, and therefore the script is unable to generate a PKGBUILD for them. I think it would be nice to support these packages as Arch VCS packages (with a "-git" suffix). I will look into this and submit a PR if I can get it working.

[2016-06-22 17:55] lopsided98 commented on #56
Looking into it more, it seems like this is a lot of work for just a few packages, so I might just try to get the maintainers to release the package I want, or release it myself.

[2016-06-22 17:55] #56 closed

[2016-06-22 22:25] bchretien commented on #56
Indeed, asking the developers for releases seems like the better route. Bloom makes releasing ROS packages really easy.

[2016-06-25 04:08] hauptmech opened #57 "kinetic?"
Anyone have time to start on this?

[2016-06-26 03:46] v01d commented on #57
I just tried to get kinetic packages and compile locally. Some minor changes are needed (add kinetic python versions). Moreover, it seems that PKGBUILDs should also add CMAKE_PREFIX_PATH to build succesfully.

[2016-06-26 10:47] hauptmech commented on #57
that sounds promising

[2016-06-26 14:48] v01d commented on #57
Actual CMAKE_PREFIX_PATH does not seem to be necessary. I think ros-kinetic-catkin needs to have -DCATKIN_BUILD_BINARY_PACKAGE=OFF since the PKGBUILDs are generated with this on. Is this really necessary?

Besides that, several packages require renaming dependencies. Seems a rosdep key issue. I wonder if we can get proper arch package names listed in official rosdep.

[2016-06-26 15:45] v01d commented on #50
Hi, I would like to see if we can pick up this a bit. As I understand this could be gradually implemented.

- [ ] add "arch" to distribution files (trivial?)
- [ ] with this, we could test the bloom fork and see if we can get it to a basic usable state (for a proof of concept at least)
- [ ] locally generate all PKGBUILDs with bloom fork and locally compile (I have a nice script for building a bun

[2016-06-26 17:31] v01d commented on #57
I've been updating rosdep keys in my own rosdistro fork. Managed to fix several missing dependencies problems.

So far I had this problem: urlgrabber is mapped to python2-urlgrabber, but should actually be urlgrabber in ArchLinux. The python fix logic seems to override the rosdep key (which actually performs the correct mapping).

Also, ros-kinetic-opencv3 should not be compiled as is, since now A

[2016-06-26 18:01] bchretien commented on #50
Indeed, we should start with this. Would you be able to manage that repository?

We'd need a way to manually trigger bumps of relevant packages when rebuilds are required. I don't know if this is possible/compatible with the buildfarm.

I'm quite busy at the moment, but I can provide information on what I've done so far.

[2016-06-26 18:19] bchretien commented on #57
* catkin needs to have `-DCATKIN_BUILD_BINARY_PACKAGE=OFF`, as it's the core package and thus provides the setup scripts. This has been changed manually so far for indigo/jade (so `git checkout -p` during updates), but the generation script could handle this automatically.

* As for dependencies, we need to make PRs to [rosdistro](https://github.com/ros/rosdistro) when Arch/AUR packages have been

[2016-06-26 19:01] dirk-thomas commented on #50
You won't need to bump the package versions. A simple manual retriggering of the binary jobs should be sufficient. Each package has the timestamp it was build on appended.

[2016-06-26 20:10] v01d commented on #57
I understand. The thing is that I added an entry pointing to "urlgrabber" and the PKGBUILD still got a dependency named python2-urlgrabber. Thus I believe the fix logic acts before looking for a mapping in the rosdep dictionary.

ros-kinetic-opencv3 builds opencv 3.1, which is not necessary for ArchLinux anymore

I actually "solved" it by getting the FindEigen3.cmake file and dropping it in /usr/s

[2016-06-26 20:15] v01d commented on #50
@bchretien @dirk-thomas can you confirm that the first step is ok? If so, I can make a pull request to rosdistro repo and have that out of the way. After that I can test the bloom fork and re-generate and locally compile pkgbuilds. We can see from there.

I can get the ball rolling and put the necessary precompiled packages up somewhere to test the system. But I'm not sure if I can get commit in t

[2016-06-26 21:38] hauptmech commented on #57
There was a bug in eigen as packaged by archlinux that [I just got fixed](https://bugs.archlinux.org/task/49837). Maybe that was the issue (depending on when you last synced eigen). The same issue was preventing me from building indigo-rviz.

[2016-06-26 23:10] v01d commented on #57
Ah, ok. Great then.

[2016-06-27 00:24] dirk-thomas commented on #50
I am not sure if adding it to the public rosdistro would have any effect. Since you only need this for trying to build local packages I would recommend to fork the rosdistro repo, apply the change their, and then use this fork for your local package tests.

[2016-06-27 00:26] dirk-thomas commented on #50
No, the build farm does not trigger any jobs based on third party packages. It is assumed that all external dependencies are ABI compatible and don't require a rebuild of downstream packages. There is no custom API in `ros_buildfarm`. But you can use the Jenkins API to trigger specific builds if necessary.

[2016-06-27 01:00] v01d commented on #50
I understand. I wanted to clear the simpler tasks. Local compilation is just a first task. The idea is to eventually have this officially support.

I can test the bloom fork locally. I guess this simple addition into rosdistro can be proposed if we get a pull request for bloom adding support for arch.

For a rolling release distro as arch ABI compatibility can't be ensured, so this rebuild process

[2016-06-27 01:03] v01d commented on #57
I managed to compile ros-kinetic-perception and ros-kinetic-desktop. I had to patch rviz for gcc6 (as with Indigo). I think stage has a similar issue, but I skipped ros-kinetic-simulators.

Only remaining issues are:
* BINARY_PACKAGE=OFF for catkin automatically performed
* opencv3: how to deal with this?

I will make a pull request for these updated rosdep keys to rosdistro.

[2016-06-27 01:09] hauptmech commented on #57
I think the ros package should be installed. I would expect the catkin and setup.sh environments to search /opt/ros/kinetic first for their opencv. Arch packages will use the system install.

Nice! Can you drop a link to the PR here so it's easy to find between now and when it gets accepted?

[2016-06-27 01:13] v01d commented on #57
I think this would be wasteful since arch already officially supports opencv. Unless we see an incompatibility with Arch's opencv, I would avoid unnecessary recompilation.

Here: https://github.com/ros/rosdistro/pull/11984

[2016-06-27 02:23] hauptmech commented on #57
We can check the mods they made for incompatibility: http://wiki.ros.org/opencv3#Building_the_Package

[2016-06-27 03:18] dirk-thomas commented on #50
Adding a trigger mechanism to `ros_buildfarm` to rebuild a set of jobs sounds not too difficult. I don't see a reason why this wouldn't get merged.

[2016-06-27 10:20] bchretien commented on #57
`BINARY_PACKAGE=OFF` is now done automatically for catkin (https://github.com/bchretien/arch-ros-stacks/commit/845a4af6bb6e13673b74dde7fd3416b53c003438).

[2016-06-27 12:24] bchretien commented on #50
I made [this simple script](https://gist.github.com/bchretien/c77d5774a5c781fc7dd95f0333dfd584) (it depends on `pactree`).

[2016-06-27 13:01] v01d commented on #57
Great!

When my rosdep pull request is accepted maybe you can see why urlgrabber is
being changed into python2-urlgrabber. I've looked at the code but it seems
that it uses the dictionary first as expected so I'm unsure about the
problem.
El jun 27, 2016 7:20 AM, "Benjamin Chrétien" <notifications@github.com>
escribió:

[2016-06-27 15:06] v01d commented on #50
Nice!

Here's the output for ros-indigo-desktop-full:

collada-dom
console-bridge
gazebo
ignition-math
ignition-transport
libccd
log4cxx
pcl
poco
python2-catkin-pkg
python2-empy
python2-rosdep
python2-rosdistro
python2-rospkg
sdformat
tango-icon-theme
urdfdom
urdfdom-headers
uuid

By the way, do you know of a free hosting service where I could put up a
temporary repository to hold these packages?

[2016-06-27 16:49] v01d commented on #50
@bchretien which branch of your bloom fork repo should I use?

[2016-06-27 17:26] bchretien commented on #50
@v01d it should be `topic/pkgbuild-support`.

[2016-06-28 22:26] v01d commented on #50
@bchretien I've downloaded your fork and tried the pkgbuild-support branch. I'm using a rosdep entry generated by rosdep generator with arch included for kinetic. I used bloom-generate on one of my own packages (with many ros deps) and created a functional PKGBUILD which also builds fine. Besides any other aspects you mentioned which could be polished, it would seem that I can reproduce the test y

[2016-07-02 15:42] dirk-thomas commented on #50
The build farm does not run `bloom`. The developer runs bloom to populate the release repo and register the package version in the ROS distribution files. The build farm then pull the sources and Debian control files from the release repo and produces Debian packages.

[2016-07-03 03:08] v01d commented on #50
Ok, now I understand. Thank you.

Definitely for me, modifying the buildfarm code feels out of my capabilities at the moment. So I hope someone else can take this task.

I've been working on getting all non-ROS AUR dependencies compiled and up in a testing repository. I've created a github org github.com/ros-archlinux where all packages are stored. These are forks of AUR git repos. I'm working on

[2016-07-03 18:51] bchretien commented on #50
@v01d I've added you as a co-maintainer for the ROS dependencies I currently maintain. That should help setting everything up.

[2016-07-03 19:04] v01d commented on #50
Cool. If you agree I will then merge my rosarch branch to master and push
that to have the same state as in GitHub.

On Sun, Jul 3, 2016 at 3:51 PM, Benjamin Chrétien <notifications@github.com>
wrote:

[2016-07-03 19:09] bchretien commented on #50
What are the differences on those rosarch branches? Simply version updates?

[2016-07-03 19:12] v01d commented on #50
They're mostly the same, with a few exceptions. I've updated poco to latest
stable and also PCL. Moreover, I disabled the apps on PCL to shorten the
build. I also patched log4cxx to build with gcc6. Also, all of these repos
have a .travis.yml for the build system I mentioned. But that should not
bother anything, I think.

On Sun, Jul 3, 2016 at 4:09 PM, Benjamin Chrétien <notifications@github.com>

[2016-07-03 19:17] bchretien commented on #50
Ok, that sounds reasonable to me! Feel free to apply your changes on the AUR.

[2016-07-04 01:03] v01d commented on #57
The corrected rosdep keys were accepted in rosdistro repo. I've now submitted a PR to rosdistro for adding ArchLinux to distribution files to at least have that ready.

@bchretien While the buildfarm and bloom stuff is being solved, are you considering pushing kinetic packages to AUR to have something in the meantime? Or what do you think would be the plan?

[2016-07-04 09:17] bchretien commented on #57
@v01d I'm quite busy right now (PhD defense this Friday), and I don't know if I'll be actively using kinetic in the near future, so you can manage the kinetic packages in the AUR if you're interested.

[2016-07-05 01:37] v01d commented on #57
Oh, ok. Good luck with your defense then =)
I had mine two months ago.

I'm not sure if I would be able to maintain all these packages. It would
seem that we need to call for some help of some other ROS arch users. I can
push the current packages but I will probably have to orphan them if so. In
principle, given your nice scripts it shouldn't be too difficult to do.

So, if anyone else is reading

[2016-07-05 02:11] hauptmech commented on #57
I'm following along.

I think it's better to push the packages and then orphan them than do nothing. It creates an easy opportunity for others to join in.

I forget, is there a script to walk the ros dependencies and build locally from arch-ros-stacks? Or does in need to be pushed to AUR so yaourt or some-such can do it?

I can do a little build testing but that's it for the near future.

[2016-07-05 02:14] v01d commented on #57
I've created a script called aap (github.com/v01d/aap) which can compile a
pool of packages lying inside a directory, following dependency order
(builds + installs). So the AUR is not actually needed and this could be an
alternative to provide ROS for Arch without having to manually push
packages to AUR.

On Mon, Jul 4, 2016 at 11:11 PM, Hauptmech <notifications@github.com> wrote:

[2016-07-05 02:57] hauptmech commented on #57
Nice! Worth adding to arch-ros-stacks I think.

 I still think it's good to push the AUR packages. I think it's better if someone has a failed AUR install and comes here (a potential contributor) instead of not seeing it when searching via AUR and feeling like they have to switch to Ubuntu just to do a class project or something.

[2016-07-06 17:59] bchretien commented on #57
:+1: for aap, I never took the time to do something like that, and that should really help. Does it support custom commands as callbacks? I basically have a small bash functions that "processes" local AUR packages: `git add -p` to review, then automatic commit (default commit message with the new version of the PKGBUILD), package building, installing and pushing to the AUR. If there's an issue at

[2016-07-29 08:52] Pryre commented on #57
So what's the status with this? Can we get the base packages built and running (if there's still issues with opencv3)?

I would be willing to help push things along, as we are having a bit of a large hardware push with the RasPi3 and it only having Xenial.

[2016-07-30 13:34] v01d commented on #57
Please look at the discussion in #50
I managed to have a separate github repo with most (all?) ROS's AUR dependencies. I've built them using travis integration and they are built at the URL noted in the linked issue. I did not push to AUR since I cannot commit to maintain these in the long-term.

I realized this is not a one-man-show. If Arch is ever to be a supported platform for ROS, a critical

[2016-07-30 22:51] hauptmech commented on #57
@v01d Which forums? I might be able to donate a server (on linode); though I worry that the arch-ros endeavour is starting to lose the KISS aspect that makes arch such a nice tool.

[2016-07-31 01:14] v01d commented on #57
The ArchLinux forums I mean. Or mailing lists.

Hosting the base packages somewhere fixed would be a great starting point
to convince others that is possible. However, the only way to have this
done properly (without requiring a ROS Arch user to loose the benefit of
ROS's packaging system) is to support it upstream. For that, further effort
is needed. That is why I suggested finding other users.

[2016-07-31 01:58] hauptmech commented on #57
I'm not sure how many ROS users hang out on the ArchLinux forums.... I think you are more likely to find ROS users with an Arch machine or curiosity than Arch users with a ROS need. So ROS discourse might be a better place (or ros answers even). Or any other concentration of ROS users.

An Arch user coming to robotics will hit https://wiki.archlinux.org/index.php/Ros so that should be accurate.

L

[2016-07-31 02:17] v01d commented on #57
Yes, that might be better.

Also, I can give access to the ros-arch organization on github if someone
else want to maintain the ROS dependencies and leverage the travis ci build
system I've made. If another server is available the URL where the package
is uploaded can easily be changed.

On Sat, Jul 30, 2016 at 10:58 PM, Hauptmech <notifications@github.com>
wrote:

[2016-08-05 10:06] fabianbl commented on #57
Same here. I built ROS kinetic from source this week, but it was a bit tedious.

[2016-08-05 12:19] hauptmech commented on #57
http://discourse.ros.org/t/who-is-using-ros-on-archlinux/388

[2016-08-09 19:47] bchretien commented on #57
:+1: for trying to bring people together and to solve this as a community. It's clearly not a task for just one person, and we seem to have enough people to solve this situation. As @v01d said, we need either a TU or a server where we can host the packaged dependencies to really get things started.

On a side note, I just moved to a new place, so I don't have a stable Internet access, and only lim

[2016-08-11 02:51] Pryre commented on #57
If we can get some estimates of data usage, ports needed, and specs of a machine that would fit the requirements for the server, I might be able to have a poke at some of the official channels at the Queensland University of Technology. They may probably be pretty happy to say that they are doing a part to support "ROS".

[2016-10-27 10:50] gdlg commented on #50
I wrote my own fork of Bloom to support Arch [https://github.com/gdlg/bloom](https://github.com/gdlg/bloom) but it's very similar to what has been done here. When I started it, I wasn’t aware of this thread. I have posted a message here [http://discourse.ros.org/t/who-is-using-ros-on-archlinux/388/6](http://discourse.ros.org/t/who-is-using-ros-on-archlinux/388/6).

For the sources, I moved all of

[2016-11-16 01:52] hauptmech commented on #57
Assuming you have to run virtual machine (because the server is in use for something else), then I'd do a lightweight/minimal image for serving the files and second image that uses maximum available resources for builds.

[2016-11-18 17:05] gdlg commented on #57
I was about to add support for Arch in ROS buildfarm. I have deployed a local buildfarm server for that.

The buildfarm needs at least 3 virtual machines (a Jenkins master, a Jenkins slave and a repository for binary packages).
Exact requirements are listed [here](https://github.com/ros-infrastructure/buildfarm_deployment) to replicate the full build system but that includes dozen of Ubuntu versio

[2016-11-24 13:34] romainreignier commented on #57
Hi! I was trying to do a full installation of ROS Indigo but I have faced many issues concerning Qt4 (Rviz...), OpenCV2, GCC 6... So after patching and updating some packages, I have given up.
@gdlg Is there a mean to use you work to install Kinetic on my machine ?

[2016-11-24 18:35] gdlg commented on #57
@romainreignier  Have you tried to install Jade? It should be more up-to-date than Indigo and straightforward to install from AUR.

You can try to install Kinetic using my repositories. For that, you can use [my installation script](https://gist.github.com/gdlg/0baef40982b10999d0554ef58aa77535)
To use it, you need to define the environment variable `ROSDISTRO_INDEX_URL=https://raw.githubuserconten

[2016-11-26 10:15] romainreignier commented on #57
@gdlg Yes, you are right, Kinetic is more up-to-date so I have installed it with @bchretien `arch-ros-stacks` and `aap` from @v01d. It is a quite nice solution.
Everything went fine instead of the `opencv3` build with GCC 6. I had to use the patch of the official Arch `opencv3` package. And, for the building, I did not have any issue with `urdfdom` but I have only installed `desktop` so no Gazebo

[2016-11-26 11:27] v01d commented on #57
Hi,
Aap expects package names, not directores, so you should use
ros-kinetic-desktop

El 26/11/2016 7:15, "Romain Reignier" <notifications@github.com> escribió:

[2016-11-26 13:20] romainreignier commented on #57
@v01d Ah, thanks for the clarification. It works now.
You should update the Readme that mention:

[2016-11-26 13:30] v01d commented on #57
Fixed!

On Sat, Nov 26, 2016 at 10:20 AM, Romain Reignier <notifications@github.com>
wrote:

[2016-11-28 16:19] romainreignier commented on #57
@v01d I have managed to install ros-kinetic-desktop. But I have given up with desktop-full because of some issue with libstage if I remember.

@gdlg I have tried your script. It  works quite well. I had to install few dependencies manually and modify the rosconsole sources to add `#include <vector>` in the file `include/ros/console.h` as reported here: https://github.com/ros/ros_comm/pull/911
So t

[2016-12-06 17:03] justbuchanan opened #62 "rosserial packages for jade?"
Hi,
I noticed that rosserial (-msgs, -client, -arduino, etc) are available for indigo, but not for jade.  Would it be possible to get this setup for jade?  I'm happy to put together a pull request if this is something you will include.  Thanks!

[2016-12-06 17:15] justbuchanan commented on #62
I just read through the readme and think I have a good understanding of how this works now.  I'll close this issue, then send a pull request with rosserial hopefully tomorrow when I get around to it.

[2016-12-06 17:15] #62 closed, assigned to nobody

[2016-12-06 23:41] gdlg commented on #57
@romainreignier Thank you very much for trying both script. I didn’t know about Aap before and it looks much better written than my script.

I updated my release repositories because in the latest version of ros_comm, the vector issue has been fixed. The whole update process is currently bit fiddly and those repositories are more for testing purposes than production.

[2016-12-09 20:59] bchretien commented on #62
Indeed, you can easily generate the packages you're interested in ;)

[2016-12-09 21:16] gdlg commented on #57
That’s great. I have also started adapting the buildfarm for Arch on a test server. My code is a bit of a mess but perhaps we can share the development work.

#### My current work
Currently, my version is able to:
* Create Jenkins jobs for Arch
* Start Docker, add pacman repo to pacman.conf and keys and update the environment
* I have also some work on fetching sources and installing package depen

[2016-12-09 21:19] protobits commented on #57
Regarding using ros-archlinux, just let me know and I can transfer the
organization to someone else. I'm currently unable to pursue this project,
but I'm glad we got the ball rolling =)

On Fri, Dec 9, 2016 at 6:16 PM, Grégoire Payen de La Garanderie <
notifications@github.com> wrote:

[2016-12-09 21:26] gdlg commented on #57
@v01d Could you add @rolling-robot and myself to the organization?

[2016-12-11 23:35] gdlg commented on #57
I have added python-* packages to github.com/ros-archlinux and updated console-bridge, urdfdom and urdfdom-headers to the version required by Kinetic. I haven’t updated the rosarch branch of those repo and Travis.

A simple way of getting the dependencies working would be to modify the Travis script to upload packages to https://mukhachev.me/archlinux/ .
Still, I think that it would be better to b

[2016-12-21 06:23] zootboy commented on #57
Hey, all. It's been a while, but I'm back to using ROS again. Props to @bchretien for making these wonderful helper scripts, they made things super easy.

I'm currently in the process of uploading all the kinetic packages I'm using to the AUR. Please feel free to test them, report any issues, and suggest any other packages that you'd like to see. My email for AUR-related stuff is aur<AT>seangreens

[2016-12-23 01:55] pryre commented on #57
Managed to install it painlessly last night, @zootboy, no issues so far. Going to give it a run with my simulator setup later this afternoon.

It seems like you have all the packages in there for "ros-kinetic-robot", is this all you are personally planning on adding it (just for a record)?

Also, I think I might try to do some updates to the wiki.ros.org. Might be able to attract a few more people

[2016-12-23 08:15] zootboy commented on #57
I did some updates to the archwiki ROS entry, nothing on the actual ROS wiki. If someone wants to do that, by all means.

I've personally been uploading packages to the AUR as I use / test / need them. If you have any requests, send them my way (aur AT seangreenslade DOT com). I can't promise I'll be able to properly test packages I don't personally use, but I will maintain them on the AUR.

[2017-01-07 18:36] artcg commented on #57
Thanks for uploading those @zootboy

Is rqt and rviz for kinetic included in the AUR? (I can see they are there for e.g. Indigo, Jade, are they forward compatible?)

[2017-01-07 20:30] zootboy commented on #57
They're on my to-do list. I'm away from home at the moment, so it probably won't happen for a week or two.

[2017-01-14 03:37] zootboy commented on #57
@artcg I just uploaded rviz & rqt to the AUR. Comment on the AUR packages if you find any problems.

[2017-01-14 12:42] artcg commented on #57
Neat, thanks! I'll check them out later on

[2017-01-17 02:27] pryre opened #63 "Automatic tool for rebuilding packages"
While we're still in the phase of using the AUR, is there anyway to schedule a rebuild on packages that have makedepends updated?

A core example seems to be the boost/poco libraries updating, which causes issues all the way up certain ROS packages.

My suggested solution would be to have a tool to do a reverse scan of dependencies for such dependencies and the rebuild all the required packages. T

[2017-01-17 05:48] zootboy commented on #63
I'm assuming you mean to bump the pkgrel values whenever this happens. There are...[mixed opinions about doing that](https://bbs.archlinux.org/viewtopic.php?pid=1654114#p1654114). I tend to fall on the side of letting users sort things out themselves. While AUR helpers are quite handy, especially for large and complex dependency trees, they are still a crutch.

Now, as I understand it, the way the

[2017-01-17 12:29] pryre commented on #63
In retrospect, I think I agree with the bumping of pkgrel values an user responsibility. The thing that really gets me is fixing 1 package at a time, not knowing what the next one you need is going to be. As I said, being able to rdepends with pacman is very useful for most of these situations, but not all.

The specific situations I am talking about are programs that compile to specific .so versi

[2017-01-17 21:23] zootboy commented on #63
With regards to the .so thing, the whole reason for .so versions is to indicate ABI-breaking changes. With a big library like Boost, whenever any change breaks the ABI, it needs a soname bump. It would be nice if there was a more granular mechanism for that, but there isn't. Thankfully, rebuilds aren't hard, and Boost soname bumps don't usually break things.

[2017-05-10 08:02] ZJaume commented on #57
Is ROS-Kinetic usable in Arch? I need a ros version with the turtlebot packages and Indigo fails compiling

[2017-05-10 09:42] artcg commented on #57
It is useable but from my experience a lot less painful to just dual-boot
whichever is the officially recommended version of Ubuntu- I found that
compatibility was awkward and sometimes hacky otherwise

On Wednesday, May 10, 2017, Jaume Zaragoza <notifications@github.com> wrote:

--
from,
Arthur

[2017-05-10 17:58] tmmsartor commented on #57
@ZJaume also a lxc container with the proper version of ubuntu is a good solution in my experience.

[2017-05-11 07:15] romainreignier commented on #57
As @artcg I have ended up using a dual-boot as well, it is a lot simpler.

[2017-06-25 13:16] koniarik commented on #63
Hi!,

I was playing with aur tools, and found out that it's pretty trivial to actually get recursive dependency list for specific AUR package. (And separate AUR/repository dependencies, "aurchain")

So, I've got scrip that for given list of "updated packages", can update all watched packages (which are ros-kinetic-* for me) that has some updated package as recursive dependency.
(And update tham in

[2017-06-27 23:22] zootboy commented on #63
If you're just trying to get first-order deps of a given package, libalpm does that. There's even python bindings for it: https://github.com/jelly/pyalpm

[2017-09-09 23:57] teasp00n opened #64 "Build error ros-kinetic-gazebo-ros-control"
Not sure if this is the correct place to ask for help with this but I'm trying to install `ros-kinetic-gazebo-ros-control` from the AUR and I'm getting the following compiler errors:

[code]

and

[code]
I installed `ros-kintetic-desktop-full` fine (using `gazebo-ogre-1.10` and `qtwebkit-bin`).

Any help resolving this would be greatly appreciated.

[2017-09-10 02:57] zootboy commented on #64
This _might_ just be an out of date issue, I see some commits that look like they might fix this (e.g. https://github.com/ros-controls/ros_control/pull/251/files ). I'm testing an update to the ros-kinetic-gazebo* tree, once it finishes building I'll push it to the AUR. Fingers crossed that it'll fix this, otherwise it may require some patching.

[2017-09-10 03:04] teasp00n commented on #64
Awesome! Thanks for looking into this 👍

[2017-09-10 04:27] zootboy commented on #64
Notes so far:
- Gazebo doesn't build. Neither does gazebo-hg. gazebo-ogre-1.10 seems to work.
- I cheated and used qtwebkit-bin. Dunno if the regular qtwebkit builds.
- I deleted libgazebo7-dev from the ros-kinetic-gazebo-dev package. I think that's fine, but I don't know.

I've pushed a bunch of updated packages to the AUR. I'd suggest first making sure all your existing packages are updated ("co

[2017-09-10 04:51] teasp00n commented on #64
Thanks for this. Installing the updated packages now. Fingers crossed it'll work :)

[2017-09-10 10:14] teasp00n commented on #64
I'm doing a complete clean reinstall so I removed all `ros-kinetic-*` packages and then issued a `pacaur -S ros-kinetic-desktop-full`

I get the following error when building `ros-kinetic-roscpp`

[code]

Is this just a case of another outdated package?

[2017-09-10 18:16] zootboy commented on #64
Seems like it's this issue:

https://github.com/ros/ros_comm/pull/1105

which they fixed for lunar, but not kinetic. I added a quick patch to the AUR package, and when I get the time I'll submit a PR to upstream it.

[2017-09-11 00:22] teasp00n commented on #64
It's working now.

Also `ros-kinetic-collada-urdf` requires `community/uriparser`

[code]

Installing `uriparser` fixes that issue.

Thanks again for your help.

[2017-09-11 00:32] zootboy commented on #64
Updated that pkg & included the dep. It should probably be pulled in by something else given that it's not in the rosdep list, but I don't have the energy to track it down. A bunch of the Arch rosdep names seem to have been reverted recently, so that'll be my next priority.

Feel free to close the issue if everything is working for you, and comment on / flag AUR packages if you run into more build

[2017-09-11 00:44] teasp00n commented on #64
This issue is resolved so I'll close it. I'm actually trying to get the simple-arm project up and running completely on kinetic and it looks like I need the kinetic version of `aur/ros-indigo-effort-controllers`.
Shall I raise a separate issue for this?

[2017-09-11 01:33] zootboy commented on #64
Just shoot me an email with a list of packages you need. I'll make sure they build at the very least.

[2017-09-11 01:42] #64 closed, assigned to nobody

[2017-09-19 04:40] teasp00n opened #65 "Building ros-kinetic-moveit-core fails"
I get an error when building `ros-kinetic-moveit-core` from the AUR.

[code]

[code]

[code]

[code]

[code]

Looks like a problem with FCL (which built and installed fine).

@zootboy If you get a chance would you mind having a look at this?

[2017-09-19 05:40] teasp00n commented on #65
Maybe we are missing the kinetic version of `aur/ros-indigo-fcl`.

[2017-09-19 11:10] teasp00n commented on #65
I looked into it. Needed to build FCL with octomap support which only happened in a shell where I had sourced the ROS environment.

[2017-09-19 11:10] #65 closed, assigned to nobody

[2018-02-22 00:27] G-Pereira opened #66 "Having trouble using this tool"
COMAND:

python2 import_catkin_packages.py --distro=melodic --output-directory=/home/gpereira/Documents/arch-ros-stacks/melodic message_filters

OUTPUT:

/usr/lib/python2.7/site-packages/urllib3/connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html

[2018-02-22 00:54] zootboy commented on #66
You can install python2-certifi to get rid of the cert warnings.

I'm not sure what you mean by this. The script doesn't upload anything to the AUR, that's something you have to do yourself after you build and test the PKGBUILDs.

[2018-02-23 22:48] G-Pereira commented on #66
@zootboy I've read the source and it actually tries to make a git clone and then commits the PKGBUILD and then pushes it, but that part throws an error... :( @racko are you here?

[2018-02-23 23:04] zootboy commented on #66
The import_catkin_packages.py script does not commit (except on the initial creation of the submodule to prevent some git errors) and never pushes any packages. This is intentional, and is explained in the readme: https://github.com/bchretien/arch-ros-stacks#aur-upload

So after you've built and tested the packages, you need to run at minimum a "git push" to commit to the AUR. If you're getting an

[2018-02-24 12:00] G-Pereira commented on #66
That's it! Thanks!

[2018-02-24 12:00] #66 closed, assigned to nobody

[2018-07-29 02:32] RashikShahjahan commented on #57
Is installing ros-kinetic on arch possible at the moment?

[2018-07-29 02:39] zootboy commented on #57
In theory, yes. In practice, you may need to do some patching to get some of the packages to compile.

[2018-07-30 01:25] RashikShahjahan commented on #57
@zootboy I got this error while building catkin:

[code]
Any idea why?

[2018-07-30 05:01] zootboy commented on #57
Have you tried using the native Arch opencv package with my stub installer?

https://aur.archlinux.org/packages/ros-kinetic-opencv3-native/

No idea if it still works, but worth a try.

[2018-07-30 05:23] RashikShahjahan commented on #57
@zootboy Thanks! I'll give it a shot. I used this guide, btw : https://gist.github.com/lcpz/0ab75aa5205504ced9f5c11cac10a89e

[2018-07-30 06:19] RashikShahjahan commented on #57
[code]
This is what I got after I tried building after installing that.

[2018-08-01 19:34] zootboy commented on #57
Is Ogre installed? The error message pretty clearly points out what the
issue is: Ogre.h can't be found.

[2018-08-02 03:39] RashikShahjahan commented on #57
@zootboy I have installed ogre seperately. Still getting the same error.

[2018-08-02 15:43] RashikShahjahan commented on #57
@zootboy I have installed ogre seperately. Still getting the same error.

[2018-08-03 03:53] zootboy commented on #57
I have a vague recollection of the latest ogre not working with kinetic.
You may need to use the ogre-1.8 or ogre-1.9 AUR packages.

[2018-08-03 04:04] hauptmech commented on #57
@RashikShahjahan  you can show the[ include paths ](https://stackoverflow.com/questions/17939930/finding-out-what-the-gcc-include-path-is)to understand where the compiler is actually looking. It's not uncommon for projects to "improve" their directory structure and change include file locations or include paths.

ROS follows slower moving distros (ubuntu/debian) so getting it to work on Arch often

[2018-08-04 16:47] RashikShahjahan commented on #57
@zootboy Thanks! Installing 1.9 solved the openCV problem.

[2018-08-04 17:48] RashikShahjahan commented on #57
Now it's failing for 'python_orocos_kdl'.

[2018-08-05 18:38] RashikShahjahan commented on #57
@hauptmech Do you know of any tutorials which can help me run an nspawn container?

[2018-08-06 01:40] hauptmech commented on #57
It's worth taking some time to learn about[ linux namespaces](https://en.wikipedia.org/wiki/Linux_namespaces) first.

The [Arch wiki](https://wiki.archlinux.org/index.php/Systemd-nspawn#Create_a_Debian_or_Ubuntu_environment) always has good info. [This article ](https://ramsdenj.com/2016/09/23/containerizing-graphical-applications-on-linux-with-systemd-nspawn.html) has nice info on setting up X11

[2018-08-06 19:01] RashikShahjahan commented on #57
@hauptmech any idea about what's going on here: https://stackoverflow.com/questions/51713879/error-creating-ubuntu-16-container-under-arch

[2018-08-10 05:31] RashikShahjahan commented on #57
Can someone help me with [this](https://stackoverflow.com/questions/51776717/ubuntu-container-failed-to-start).

[2019-01-31 21:25] parkerlreed commented on #57
@zootboy Are there any plans of getting the kinectic packages working again on the AUR? A ton of them fail integrity and when skipping that, have to have changed folder names to work. PLus there's a couple that just fail building all together.

[2019-02-01 02:59] zootboy commented on #57
I'm sorry, but I no longer do work involving ROS, so I don't have the
time to maintain the AUR packages. I orphaned them all a while back, so
anyone else who is interested can feel free to take it on.

[2019-02-01 19:47] parkerlreed commented on #57
@zootboy Thanks. Yeah I saw that. Tried cleaning them up on my end but ran into a few issues. I may take a stab later.

[2019-05-15 18:05] bionade24 commented on #57
The latest release melodic is now working and on Github: https://github.com/ros-melodic-arch

[2020-06-16 21:19] acxz commented on #57
The latest release noetic is now working and on Github: https://github.com/ros-noetic-arch

non-ros-package ros scripts/tools are being held at https://github.com/ros-arch

Next big step is to get ros-rolling (rolling release of ROS2) packaged over at https://github.com/ros-rolling-arch